:root {
	--black: #0A0A0A;
	--dgrey: #222222;
	--mgrey: #3B3B3B;
	--silver: #D9D9D9;
	--lgrey: #C4C4C4;
	--dsilver: #BABABA;
}

*{
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

.main {
	height: 100vh;
	display: flex;
	background: var(--dgrey);
	align-items: center;
	justify-content: center;
}

.bucket {
	display: flex;
	height: 65%;
	width: 80%;
	border-radius: 20px;
	background: linear-gradient(black, var(--dgrey));
	box-shadow: 5px 5px 15px 2px var(--mgrey);
}

.left {
	width: 35%;
	background-image: url("imgs/blackout.jpeg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
	display: flex;
	padding-top: 12.5vh;
	border-radius: 20px 0 0 20px;
}

.shaded {
	height: 35%;
	width:100%;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
}

.shaded div {
	display: flex;
	align-items: center;
	justify-content: center;
}

#img {
	max-width: min(20vh, 90%);
	max-height: min(20vh ,75%);
}

.right {
	width: 65%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 2.5%;
}

.top, .mid, .bottom {
	width: 100%;
	height: 50%;
}


.top, .bottom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 25%;
}

p {
	color: white;
}

.top-text, .bottom-text {
	font-size: 2.5vmin;
	padding-top: 1%;
	padding-bottom: 1%;
}

.login {
	font-size: 1.5vmin;
	padding-top: 2%;
}

.login p {
	color: var(--dsilver);
}

button {
	width: 27.5vmin;
	height: 5vmin;
	border: transparent;
	border-radius: 20px;
	color: white;
	font-size: 2vmin;
	font-weight: 900;
	background-color: var(--mgrey);
}

button:hover,
button:focus { 
  border: var(--dsilver) solid 1px;
  transition-duration: 1s;
}

#action {
	color: white;
}

.mid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.input {
	padding-top: 5%;
}

.mid p {
	color: var(--dsilver);
	font-size: 1.5vmin;
}

input {
	height: 40%;
	border-radius: 7.5px;
	width: min(15vw, 350px);
	padding-left: 5px;
	border: var(--dsilver) solid 1px;
	background-color: var(--mgrey);
	color: white;
}

input:focus {
	outline: var(--silver) solid 1px;
	box-shadow: 5px 5px 15px var(--mgrey);
}


